@model Client.Models.HomePageModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="col-10 col-lg-6  mt-5 mx-auto p-5">
    @{
        <div class="row  mb-2">
            <h1 class="col-12 col-lg-7">Categories:</h1>
            <div class="col-12 col-lg-3  d-flex justify-content-lg-start text-left">
                <a href="/category/create" class="btn btn-outline-primary my-auto"> Add </a>
            </div>

            <div id="categoryError" class="col-12 col-lg-7 invalid-feedback">
                This post already exists
            </div>
        </div>
        foreach (var category in Model.Categories)
        {
            <div class="d-block my-1">
                <a href="#" class="btn btn-outline-danger px-2 py-0 border-danger removeCategoryButton" data-id="@category.Id">X</a>
                <a href="@Url.Action("Edit", "Category", new { id = category.Id})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                    @category.Title
                </a>
            </div>
        }

        <div class="row mt-5 mb-2">
            <h1 class="col-12 col-lg-7">Posts:</h1>
            <div class="col-12 col-lg-3  d-flex justify-content-lg-start text-left">
                <a href="/post/create" class="btn btn-outline-primary my-auto"> Add </a>
            </div>
        </div>
        foreach (var post in Model.Posts)
        {
            <div class="d-block my-1">
                <a href="#" class="btn btn-outline-danger px-2 py-0 border-danger removePostButton" data-id="@post.Id">X</a>
                <a href="@Url.Action("Edit", "Post", new { id = post.Id})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                    @post.Title

                </a>
            </div>
        }
    }
</div>

<script type="module" src="~/js/Category.js"></script>
<script type="module" src="~/js/Post.js"></script>

